.container aside .banner section h1,
.container aside .banner img {
  display: block;
}

.container aside {
  padding: 0 5vw 0;
}

.container aside .banner img {
  width: 35%;
  height: 20px;
}

.container aside .banner section h1 {
  width: 15%;
  font-size: 20px;
  margin: 20px 20px;
}

.container aside .banner {
  border-top: 2px solid #6fc81e;
  border-bottom: 2px solid #6fc81e;
}

.container aside .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container aside .banner section {
  display: flex;
} 

.container aside .list-product .header {
  display: flex;
  align-items: center;
  height: 50px; 
  background: #1e1e20;
  margin: 10px 0 10px;
}

.container aside .list-product .header h1 {
  padding: 0 20px 0;

  font-size: 18px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.container aside .list-product .header i:before {
  content: '';
  background: #6fc81e url(https://image.flaticon.com/icons/svg/57/57164.svg) no-repeat;
}

