.container main section,
.container main img {
  display: block;
}

.container main .banner img {
  width: 35%;
  height: 20px;
  float: right; 
}

.container main section h1 {
  width: 15%;
  font-size: 20px;
  margin: 20px 20px;
}

.container main .banner {
  border-top: 2px solid #6fc81e;
  border-bottom: 2px solid #6fc81e;
}

.container main .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container main .banner section {
  display: flex;
} 

