html, body {
  overflow-x: hidden;
}

.container aside .banner section h1,
.container aside .banner img {
  display: block;
}

.container aside {
  padding: 0 5vw 0;
}

.container aside .banner img {
  width: 35%;
  height: 20px;
}

.container aside .banner section h1 {
  width: 15%;
  font-size: 20px;
  margin: 20px 20px;
}

.container aside .banner {
  border-top: 2px solid #6fc81e;
  border-bottom: 2px solid #6fc81e;
}

.container aside .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container aside .banner section {
  display: flex;
} 

.container aside .list-product {
  background: #fff;
}

.container aside .list-product .header {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 40px; 
  background: #222;
  margin: 10px 0 0;
}

.container aside .list-product .header h1 {
  font-size: 18px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.container aside .list-product .header span {
  margin-left: 50px;
}
.container aside .list-product .header span + span {
  margin-left: 25px;
}

.container aside .list-product .header span i {
  color: #6fc81e;
}

.container aside .list-product section {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
 
  margin-bottom: 10px;
}

.container aside .list-product .vertical .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
  margin: 20px 20px;
  padding: 0 10px;
  cursor: pointer;
}

.container aside .list-product section .vertical .title:hover a {
  transition: all .3s ease-in-out;
}

.container aside .list-product section .vertical .title a {
  padding: 5px 5px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

.container aside .list-product section .vertical .title:hover a {
  color: #6fc81e;
}

.container aside .list-product section .vertical .title i {
  color: #6fc81e;
  font-size: 12px;
}

.container aside .list-product section .vertical .items {
  margin: 20px 20px;
  padding: 0 10px;
  overflow: hidden;
  max-height: 300px;
}

.container aside .list-product section .vertical .items li {
  padding: 5px;
}

.container aside .list-product section .vertical .items li a {
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 500;
}

.container aside .list-product section .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  background: #fff;
  padding: 20px 30px;
}

.container aside .list-product section .cards .card {
  display: flex;
  flex-direction: column;
  height: 430px;
  padding: 20px;
}

.container aside .list-product section .cards .card:hover {
  outline: 1px solid #6fc81e;
}

.container aside .list-product section .cards .card img {
  align-self: center;
  width: 230px;
  margin-top: 0;
}

.container aside .list-product section .cards .card legend h2,
.container aside .list-product section .cards .card legend h4 {
  font-weight: bold;
  color: #0f0f0f;
}

.container aside .list-product section .cards .card .subtitle-group {
  margin: 35px 0;
  color: #0f0f0f;
}

.container aside .list-product section .cards .card .subtitle-group h5 {
  font-weight: 500;
}

.container aside .list-product section .cards .card .subtitle-group h5 + h5 {
  color: gray;
}

.container aside .list-product section .cards .card button {
  border: 0;
  margin-top: 15px;
  padding: 12px 15px;
  width: 100%;
  background: #6fc81e;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}
